  <section class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          新規登録画面
        </h1>
      </div>
    </div>
  </section>
  
  <section class="section">
    <div class="container">
      <div class="colums is-centerd">
        <div class="colum is-5">

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <%= f.label :nickname, class: "label" %>
            <p class="control has-icons-left">
              <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", :placeholder=> "nickname", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <%= f.label :last_name, class: "label" %>
            <p class="control has-icons-left">
              <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", :placeholder=> "lasi_name", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <%= f.label :first_name, class: "label" %>
            <p class="control has-icons-left">
              <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", :placeholder=> "first_name", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <%= f.label :furigana_last, class: "label" %>
            <p class="control has-icons-left">
              <%= f.text_field :furigana_last, autofocus: true, autocomplete: "furigana_last", :placeholder=> "furigana_last", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <%= f.label :furigana_first, class: "label" %>
            <p class="control has-icons-left">
              <%= f.text_field :furigana_first, autofocus: true, autocomplete: "furigana_first", :placeholder=> "furigana_first", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <%= f.label :date_of_birth, class: "label" %>
            <p class="icon has-icons-left">
            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
          </div>
          <div class='input-birth-wrap'>
            <%= raw sprintf(
                      f.date_select(
                        :date_of_birth,
                        class:'select-birth',
                        id:"birth-date",
                        use_month_numbers: true,
                        prompt:'--',
                        start_year: 1930,
                        end_year: (Time.now.year -5),
                        date_separator: '%s'),
                        "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
          </div>

          <div class="field">
            <%= f.label :email, class: "label" %>
            <p class="control has-icons-left">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "email", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <%= f.label :password, class:"label" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <p class="control has-icons-left">
            <%= f.password_field :password, autocomplete: "new-password", :placeholder => "password", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>

          <div class="field">
            <%= f.label :password_confirmation, class: "label" %>
            <p class="control has-icons-left">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => "password confimation", class: "input" %>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>

          <div class="actions">
            <%= f.submit "Sign up", class: "button is-black" %>
          </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </section>
